In [95]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from datetime import datetime

In [13]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
318,tt1234548,24000000,68729358,The Men Who Stare at Goats,George Clooney|Ewan McGregor|Jeff Bridges|Kevi...,Grant Heslov,No goats. No glory.,A reporter in Iraq might just have the story o...,93,Comedy|War,BBC Films|Smoke House,10/17/2009,5.8,2009
431,tt1231583,65000000,211780824,Due Date,Zach Galifianakis|Robert Downey Jr.|Michelle M...,Todd Phillips,Leave Your Comfort Zone,Peter Highman must scramble across the US in f...,95,Comedy|Drama,Legendary Pictures|Green Hat Films|Warner Bros.,11/4/2010,6.2,2010
257,tt1259571,50000000,709827462,The Twilight Saga: New Moon,Kristen Stewart|Robert Pattinson|Taylor Lautne...,Chris Weitz,The Next Chapter Begins.,"Forks, Washington resident Bella Swan is reeli...",130,Adventure|Fantasy|Drama|Romance,Summit Entertainment|Maverick Films|Imprint En...,3/15/2009,5.6,2009
28,tt1895587,20000000,88346473,Spotlight,Mark Ruffalo|Michael Keaton|Rachel McAdams|Lie...,Tom McCarthy,Break the story. Break the silence.,The true story of how The Boston Globe uncover...,128,Drama|Thriller|History,Participant Media|Open Road Films|Anonymous Co...,11/6/2015,7.8,2015
1210,tt1538403,60000000,90565421,The Mortal Instruments: City of Bones,Lily Collins|Jamie Campbell Bower|Kevin Zegers...,Harald Zwart,You have been chosen,"In New York City, Clary Fray, a seemingly ordi...",130,Action|Adventure|Drama|Mystery|Romance,Constantin Film Produktion|Don Carmody Product...,8/21/2013,6.2,2013

In [4]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [184]:
def get_month(s):
    return datetime.strptime(s, "%m/%d/%Y").month

answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:
data['profit'] = data['revenue'] - data['budget']                       # добавляем колонку профит
# data.director = data.director.str.encode('latin1').str.decode('utf8') # запускаем тольео первый раз
data['release_month'] = data.release_date.apply(get_month)              # добавляем колонку месяца

# временные DF-ы, для конкретных вопросов
data_2012 = data[data.release_year == 2012]
data_Nicolas_Cage = data[data.cast.str.contains('Nicolas Cage', na=False)]
data_winter_release = data[(data.release_month == 12) | (data.release_month == 1) | (data.release_month == 2)]

# списки со всеми жанрами, режисерами, актерами и кинокомпаниями
genres = []
directors = []
actors = []
prod_companies = []

# щаполнение списков актеров и т.п.
for i in range(len(data)):
    g = data.loc[i]['genres'].split('|')
    d = data.director.iloc[i].split('|')
    a = data.cast.iloc[i].split('|')
    pc = data.production_companies.iloc[i].split('|')
    
    for j in d:
        if (j not in directors):
            directors.append(j)
        
    for j in g:
        if (j not in genres):
            genres.append(j)
    
    for j in a:
        if (j not in actors):
            actors.append(j)
            
    for j in pc:
        if (j not in prod_companies):
            prod_companies.append(j)

# print ("Genres : ")
# print (genres)
# print ("\nGenres count : " + str(len(genres)))

# print ("\nDirectors : ")
# print (directors)
# print ("\nDirectors count : " + str(len(directors)))

# print ("\nActors : ")
# print (actors)
# print ("\nActors count : " + str(len(actors)))

# print ("\nProduction Companies : ")
# print (prod_companies)
# print ("\nProduction Companies count : " + str(len(prod_companies)))
#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [131]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [31]:
# тут пишем ваш код для решения данного вопроса:
data[data.budget == data.budget.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000

ВАРИАНТ 2

In [9]:
# можно добавлять разные варианты решения
data.query('budget==3.800000e+08')

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011

# 2. Какой из фильмов самый длительный (в минутах)?

In [132]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '1157. Gods and Generals (tt0279111)'

In [10]:
data[data.runtime == data.runtime.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003

# 3. Какой из фильмов самый короткий (в минутах)?

In [133]:
answers['3'] = '768. Winnie the Pooh (tt1449283)'

In [15]:
data[data.runtime == data.runtime.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011

# 4. Какова средняя длительность фильмов?

In [134]:
answers['4'] = '110'

In [26]:
data.runtime.mean().round()

110.0

# 5. Каково медианное значение длительности фильмов?

In [135]:
answers['5'] = '107'

In [29]:
data.runtime.median().round()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [0]:
# лучше код получения столбца profit вынести в Предобработку что в начале

In [136]:
answers['6'] = '239. Avatar (tt0499549)'

In [32]:
data[data.profit == data.profit.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847

# 7. Какой фильм самый убыточный?

In [137]:
answers['7'] = '1245. The Lone Ranger (tt1210819)'

In [34]:
data[data.profit == data.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [138]:
answers['8'] = '1478'

In [36]:
len(data[data.profit > 0])

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [139]:
answers['9'] = '599. The Dark Knight (tt0468569)'

In [42]:
data[data.profit == data[data.release_year == 2008].profit.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [140]:
answers['10'] = '1245. The Lone Ranger (tt1210819)'

In [44]:
data[data.profit == data[(data.release_year >= 2012) & (data.release_year <= 2014)].profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 11. Какого жанра фильмов больше всего?

In [0]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

In [141]:
answers['11'] = 'Drama'

In [52]:
s=""
genres_count = {}

for i in range(len(data)):
    s += data.genres.iloc[i] + '|'

for i in genres:
    genres_count[i] = s.count(i)

Counter(genres_count).most_common(1)

[('Drama', 782)]

ВАРИАНТ 2

In [191]:
df2 = data.copy()
# df2.head(2)

df2['genre'] = df2.genres.str.split('|')
genres_cut = df2.explode('genre')
# genres_cut.head(2)

genres_cut.genre.value_counts()

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
Name: genre, dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [142]:
answers['12'] = 'Drama'

In [56]:
genres_profit_cout = {}

for i in genres:
    genres_profit_cout[i] = 0
    
for i in range(len(data)):
    profit = data.profit.iloc[i]
    
    if (profit > 0):
        for j in genres:
            if (j in data.genres.iloc[i]):
                genres_profit_cout[j] += 1

Counter(genres_profit_cout).most_common(1)

[('Drama', 560)]

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [143]:
answers['13'] = 'Peter Jackson'

In [65]:
directors_revenue = {}
# directors_profit = {}

for i in directors:
#     directors_profit[i] = 0
    directors_revenue[i] = 0

for i in range(len(data)):
#     profit = data.profit.iloc[i]
    revenue = data.revenue.iloc[i]
    director = data.director.iloc[i]
    
#     if (profit > 0):
#         for j in directors:
#             if (j in data.director.iloc[i]):
#                 directors_profit[j] += profit
    for j in directors:
        if (j in director):
            directors_revenue[j] += revenue
                
Counter(directors_revenue).most_common(1)

[('Peter Jackson', 6490593685)]

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [144]:
answers['14'] = 'Robert Rodriguez'

In [67]:
directors_in_action = {}
for i in directors:
    directors_in_action[i] = 0
    
for i in range(len(data)):
    genre = data.genres.iloc[i]
    director = data.director.iloc[i]
    
    if ('Action' in genre):
        for j in directors:
            if (j in director):
                directors_in_action[j] += 1
                
Counter(directors_in_action).most_common(1)

[('Robert Rodriguez', 9)]

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [145]:
answers['15'] = 'Chris Hemsworth'

In [76]:
actors_revenue = {}
for i in actors:
    actors_revenue[i] = 0
    
for i in range(len(data_2012)):
    cast = data_2012.cast.iloc[i]
    revenue = data_2012.revenue.iloc[i]
    
    for j in actors:
        if (j in cast):
            actors_revenue[j] += revenue
                
Counter(actors_revenue).most_common(1)

[('Chris Hemsworth', 2027450773)]

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [170]:
answers['16'] = 'Matt Damon'

In [193]:
df3 = data.copy()

df3['actor'] = df3.cast.str.split('|')
actors_cut = df3.explode('actor')
# actors_cut.head()

actors_cut[actors_cut.budget > data.budget.mean()].actor.value_counts()

Matt Damon              18
Adam Sandler            17
Angelina Jolie          16
Samuel L. Jackson       15
Eddie Murphy            15
                        ..
Alexander SkarsgÃ¥rd     1
Leven Rambin             1
Glenn Morshower          1
Phyllida Law             1
Dave Bautista            1
Name: actor, Length: 1505, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [172]:
answers['17'] = 'Action'

In [82]:
genres_cage = {}
for i in genres:
    genres_cage[i] = 0
    
for i in range(len(data_Nicolas_Cage)):
    genre = data_Nicolas_Cage.genres.iloc[i]
    
    for j in genres:
        if (j in genre):
            genres_cage[j] += 1
            
Counter(genres_cage).most_common(5)

[('Action', 17),
 ('Thriller', 15),
 ('Drama', 12),
 ('Crime', 10),
 ('Fantasy', 8)]

# 18. Самый убыточный фильм от Paramount Pictures

In [173]:
answers['18'] = '925. K-19: The Widowmaker () (tt0267626)'

In [87]:
data[data.profit == data[data.production_companies.str.contains('Paramount Pictures', na=False)].profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,6.0,2002,-64831034

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [174]:
answers['19'] = '2015'

In [89]:
year_revenue = {}

for i in range(data.release_year.min(), data.release_year.max() + 1):
    year_revenue[i] = data[data.release_year == i].revenue.sum()
    
Counter(year_revenue).most_common(5)

[(2015, 25449202382),
 (2014, 23405862953),
 (2013, 23213799791),
 (2012, 23079001687),
 (2011, 22676791872)]

# 20. Какой самый прибыльный год для студии Warner Bros?

In [175]:
answers['20'] = '2014'

In [91]:
data[data.production_companies.str.contains('Warner', na=False)].groupby(['release_year']).profit.sum().idxmax()

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [176]:
answers['21'] = '9'

In [108]:
data.groupby('release_month').release_year.count().idxmax()

9

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [177]:
answers['22'] = '450'

In [112]:
len(data[(data.release_month == 6) | (data.release_month == 7) | (data.release_month == 8)])

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [178]:
answers['23'] = 'Peter Jackson'

In [168]:
directors_productive_time = {}
for i in directors:
    directors_productive_time[i] = 0
    
for i in range(len(data_winter_release)):
    director = data_winter_release.director.iloc[i]
    
    for j in directors:
        if (j in director):
            directors_productive_time[j] += 1
            
Counter(directors_productive_time).most_common(5)

[('Peter Jackson', 7),
 ('Clint Eastwood', 6),
 ('Steven Soderbergh', 6),
 ('Nancy Meyers', 4),
 ('Shawn Levy', 4)]

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [179]:
answers['24'] = 'Four By Two Productions'

In [120]:
film_names_by_prod_comp = {}
film_count_by_prod_comp = {}
film_avarage_name_by_prod_comp = {}

for i in prod_companies:
    film_names_by_prod_comp[i] = 0
    film_count_by_prod_comp[i] = 0
    film_avarage_name_by_prod_comp[i] = 0
    
for i in range(len(data)):
    film = data.original_title.iloc[i]
    prod_company = data.production_companies.iloc[i]
    
    for j in prod_companies:
        if (j in prod_company):
            film_names_by_prod_comp[j] += len(film)
            film_count_by_prod_comp[j] += 1

for i in prod_companies:
    film_avarage_name_by_prod_comp[i] = film_names_by_prod_comp[i] / film_count_by_prod_comp[i]

Counter(film_avarage_name_by_prod_comp).most_common(5)

[('Four By Two Productions', 83.0),
 ('Jim Henson Company, The', 59.0),
 ('Dos Corazones', 47.0),
 ('Museum Canada Productions', 46.0),
 ('Polsky Films', 46.0)]

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [180]:
answers['25'] = 'Midnight Picture Show'

In [122]:
overview_names_by_prod_comp = {}
overview_count_by_prod_comp = {}
overview_avarage_name_by_prod_comp = {}

for i in prod_companies:
    overview_names_by_prod_comp[i] = 0
    overview_count_by_prod_comp[i] = 0
    overview_avarage_name_by_prod_comp[i] = 0
    
for i in range(len(data)):
    overview = data.overview.iloc[i]
    prod_company = data.production_companies.iloc[i]
    
    for j in prod_companies:
        if (j in prod_company):
            overview_names_by_prod_comp[j] += len(overview)
            overview_count_by_prod_comp[j] += 1

for i in prod_companies:
    overview_avarage_name_by_prod_comp[i] = overview_names_by_prod_comp[i] / overview_count_by_prod_comp[i]

Counter(overview_avarage_name_by_prod_comp).most_common(5)

[('Midnight Picture Show', 1000.0),
 ('Room 9 Entertainment', 964.0),
 ('Brookwell-McNamara Entertainment', 936.0),
 ('Lions Gate Family Entertainment', 909.0),
 ('Crest Animation Productions', 909.0)]

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [181]:
answers['26'] = 'Inside Out, Room, Interstellar, Guardians of the Galaxy, The Imitation Game, Gone Girl' + \
                'The Grand Budapest Hotel, Inception, The Dark Knight, The Pianist, The Lord of the Rings: The Return of the King' + \
                'The Wolf of Wall Street, 12 Years a Slave, Memento'

In [124]:
data.loc[data['vote_average']>data.quantile(0.99, numeric_only=True)['vote_average']]['original_title']

9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
599                                   The Dark Knight
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
1183                          The Wolf of Wall Street
1191                                 12 Years a Slave
1800                                          Memento
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [182]:
answers['27'] = 'Daniel Radcliffe, Emma Watson, Rupert Grint'

In [126]:
actor_pairs = {}

for i in range(len(data)):
    
    cast = data.cast.iloc[i]
    cast = cast.split('|')
    cast.sort()

    for j in range(len(cast)-1):
        for k in range(j + 1, len(cast)):
            if (str(cast[j] + ", " + cast[k]) not in actor_pairs.keys()):
                actor_pairs[str(cast[j] + ", " + cast[k])] = 1
            else:
                actor_pairs[str(cast[j] + ", " + cast[k])] += 1
    
Counter(actor_pairs).most_common(5)

[('Daniel Radcliffe, Emma Watson', 8),
 ('Daniel Radcliffe, Rupert Grint', 8),
 ('Emma Watson, Rupert Grint', 8),
 ('Ben Stiller, Owen Wilson', 6),
 ('Helena Bonham Carter, Johnny Depp', 6)]

ВАРИАНТ 2

# Submission

In [183]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'16': 'Matt Damon',
 '17': 'Action',
 '18': '925. K-19: The Widowmaker () (tt0267626)',
 '19': '2015',
 '20': '2014',
 '21': '9',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, Room, Interstellar, Guardians of the Galaxy, The Imitation Game, Gone GirlThe Grand Budapest Hotel, Inception, The Dark Knight, The Pianist, The Lord of the Rings: The Return of the KingThe Wolf of Wall Street, 12 Years a Slave, Memento',
 '27': 'Daniel Radcliffe, Emma Watson, Rupert Grint'}

In [159]:
# и убедиться что ни чего не пропустил)
len(answers)

27